<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/topic-style.css">
    <link rel="icon" type="" href="/public/javascript.svg"/>
    <title>DNS</title>
</head>
<body>
    <header class="title">Understanding The Internet</header>
    <article class="article-container">
        <header class="article-header">DNS</header>
        <div class="article-image">
            <img src="/dns.webp" alt="">
        </div>
        <section class="article-text">
            <p>
                The Domain Name System (DNS) is the phonebook of the Internet. Humans access information online through domain names, like nytimes.com or espn.com. Web browsers interact through Internet Protocol (IP) addresses. DNS translates domain names to IP addresses so browsers can load Internet resources.
            </p>
            <p>
                Each device connected to the Internet has a unique IP address which other machines use to find the device. DNS servers eliminate the need for humans to memorize IP addresses such as 192.168.1.1 (in IPv4), or more complex newer alphanumeric IP addresses such as 2400:cb00:2048:1::c629:d7a2 (in IPv6).
            </p>
        </section>
        <footer>https://www.cloudflare.com/en-gb/learning/dns/what-is-dns/</footer>
    </article>
    <footer class="main-footer">
        <h1 class="name">Leonardo Alilyamin Nifinluri</h1>
        <h2 class="NIM">D121221020</h2>
    </footer>
</body>
</html>